---
import {format, parse} from 'date-fns';
import Layout from '../layouts/Layout.astro';
import WorkLogos from '../components/work-logos/work-logos.astro';
import AboutImages from '../components/about-images/about-images.astro';
import trail from '../assets/trail-1.svg';
import trail2 from '../assets/trail-2.svg';
import trail3 from '../assets/trail-3.svg';
import trail4 from '../assets/trail-4.svg';
import timTRex from '../assets/tim-t-rex-developer.jpeg';

// Pull all notes, sort them by date, and exclude all drafts
const unsortedNotes = await Astro.glob('./notes/**/*.md');
const notes = unsortedNotes.sort(function (a, b) {
	return (
		new Date(b.frontmatter.date).valueOf() - new Date(a.frontmatter.date).valueOf()
	);
});
const nonDraftNotes = notes.filter((note) => !note.frontmatter.draft);
---

<Layout title="Tim Dunklee - Front End Web Developer - Minneapolis MN" isHome={true}>
	<div class="wrap wrap--narrow">

		<div class="first-trail">
			<img src={trail} alt="" />
		</div>

		<section class="section section--split section--indented">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">Work</h2>
					<p class="h5 section__subheading">Brands I have worked with.</p>
				</header>
				<p>More project details are available upon request.</p>
			</div>
			<div class="section__content">
				<WorkLogos />
			</div>
			<div class="section__trail">
				<img src={trail2} alt="" />
			</div>
		</section>

		<section class="section section--split">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">About</h2>
					<p class="h5 section__subheading">Nice to meet you.</p>
				</header>
				<p>I am a senior front end web developer in Minneapolis, Minnesota. I love the ever-changing industry I work in and never stop thinking about it even though my wife thinks I'm slightly obsessed. I'm currently obsessing over CSS Grid, accessibility, and the Jamstack.</p>
				<p>In my spare time I like to spend as much time outdoors as possible and snap some <a href="http://instagram.com/tjdunklee">photos</a> while I'm at it.</p>
			</div>
			<div class="section__content">
				<AboutImages />
			</div>
			<div class="section__trail">
				<img src={trail3} alt="" />
			</div>
		</section>

		<section class="section section--indented section--full-width">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">Notes</h2>
					<p class="h5 section__subheading">Sharing is caring.</p>
				</header>
			</div>
			<div class="section__content">
				<ul class="notes-list">
					{nonDraftNotes.map(note => {
						const date = new Date(note.frontmatter.date);
			
						return (
							<li class="notes-list__item">
								<article class="note">
									<span class="note__meta">{format(date, 'MMMM do, yyyy')}</span>
									<h3 class="note__heading">
										<a class="note__anchor" href={note.url}>{note.frontmatter.title}</a>
									</h3>
								</article>
							</li>
							)
					})}
				</ul>
			</div>
		</section>

		<div class="last-trail">
			<img src={trail4} alt="" />
		</div>

	</div>

</Layout>

<style lang="scss">
	@import '../styles/vars';

	.first-trail {
		padding-left: $spacing-xxl * 3;
	}

	.section {
		display: grid;
		grid-gap: $spacing-xxl;
		padding-top: $spacing;
	}

	.section--split {

		@media screen and (min-width: $mq-m) {
			grid-template-columns: 2fr 3fr;
			grid-template-rows: min-content 1fr;
			grid-gap: $spacing-xl $spacing-xxl;
		}
	}

	.section__intro {
		.section--indented & {
			@media screen and (min-width: $mq-m) {
				padding-left: $spacing-xxl * 2;
			}
		}
	}

	.section__heading {
		margin: 0;
		text-transform: uppercase;
	}

	.section__subheading {
		margin-top: $spacing-s;
		text-transform: uppercase;
	}

	.section__content {
		grid-row: span 2;

		.section--full-width & {
			@media screen and (min-width: $mq-m) {
				padding-left: $spacing-xxl * 2;
			}
		}
	}

	.about-image {

		@media screen and (min-width: $mq-m) {
			margin: 0 auto;
			max-width: 25rem;
		}
	}

	.notes-list {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.notes-list__item + .notes-list__item {
		margin-top: $spacing-xxl;
	}

	.note__heading {
		margin: 0;
		text-transform: none;
	}

	.note__anchor {
		text-decoration: underline;

		&:hover,
		&:focus-visible {
			text-decoration: none;
		}
	}

	.note__meta {
		font-size: 1rem;
	}

	.last-trail {
		margin-top: $spacing-xxl;
		text-align: center;
	}
</style>
