---
import { Image } from 'astro:assets';
import Layout from '../layouts/Layout.astro';
import WorkLogos from '../components/work-logos/work-logos.astro';
import AboutImages from '../components/about-images/about-images.astro';
import Experience from '../components/experience/experience.astro';
import trail from '../assets/trail-1.svg';
import trail2 from '../assets/trail-2.svg';
import trail3 from '../assets/trail-3.svg';
import trail4 from '../assets/trail-4.svg';
---

<Layout title="Tim Dunklee - Web Developer - Minneapolis MN" isHome={true}>
	<div class="wrap wrap--narrow">

		<div class="first-trail">
			<Image src={trail} width="121" height="199" alt="" />
		</div>

		<section class="section section--split section--indented">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">Work</h2>
					<p class="h5 section__subheading">Brands I have worked with.</p>
				</header>
				<p>More project details are available upon request.</p>
			</div>
			<div class="section__content">
				<WorkLogos />
			</div>
			<div class="section__trail">
				<Image src={trail2} width="199" height="360" alt="" />
			</div>
		</section>

		<section class="section section--split">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">About</h2>
					<p class="h5 section__subheading">Nice to meet you.</p>
				</header>
				<p>I am a senior web developer in Minneapolis, Minnesota. I love the ever-changing industry I work in and never stop thinking about it even though my wife thinks I'm slightly obsessed. I'm currently obsessing over accessibility, new CSS features, and headless architecture.</p>
				<p>In my spare time I like to spend as much time outdoors as possible and snap some <a href="http://instagram.com/tjdunklee">photos</a> while I'm at it.</p>
			</div>
			<div class="section__content">
				<AboutImages />
			</div>
			<div class="section__trail">
				<Image src={trail3} width="226" height="380" alt="" loading="lazy" />
			</div>
		</section>

		<section class="section section--indented section--split">
			<div class="section__intro">
				<header>
					<h2 class="section__heading">Experience</h2>
					<p class="h5 section__subheading">I remember MySpace.</p>
				</header>
				<p>Please <a href="mailto:tjdunklee@gmail.com">contact me</a> for a more detailed resume.</p>
			</div>
			<div class="section__content">
				<Experience />
			</div>
		</section>

		<div class="last-trail">
			<Image src={trail4} width="205" height="287" alt="" loading="lazy" />
		</div>

	</div>

</Layout>

<style>
	.first-trail {
		padding-left: calc(var(--spacing-xxl) * 3);
	}

	.last-trail {
		margin-top: var(--spacing-xxl);
		text-align: center;
	}
</style>
